*.out
.terraform/
.terraform.lock.hcl
crash.log
*.tfstate
*.tfstate.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terragrunt-cache/
*.log
.idea/
.vscode/
*.iml
.DS_Store
*.zip
*.bak
*.backup
*.swp
*~
# Local .env files
.env.local
.env.*.local
.env
.devcontainer/devcontainer.env